<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% block htmltitle %}
    <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
    {% endblock %}

    {% if favicon %}
    <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ pathto('_static/selenium.css', 1) }}" />
  </head>

  <body>
    <div class="container">
      <nav>
        <h1><a href="#">Selenium</a></h1>

        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Community</a></li>
        </ul>
      </nav>
    </div>

    <div class="container">
      {% block body %}{% endblock %}
    </div>

    <footer>
      <div class="container">
        <ul>
          <li>
            <a href="#">About</a>

            <ul>
              <li><a href="#">News</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Who made</a></li>
            </ul>
          </li>

          <li>
            <a href="#">Projects</a>

            <ul>
              <li><a href="#">WebDriver</a></li>
              <li><a href="#">Grid</a></li>
              <li><a href="#">Builder</a></li>
            </ul>
          </li>

          <li>
            <a href="#">Community</a>

            <ul>
              <li><a href="#">Mailing Lists</a></li>
              <li><a href="#">Meetups</a></li>
              <li><a href="#">IRC</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
