<bizob2828@yahoo.com> <bevans@bevans.int.messagesystems.com>
Andreas Tolfsen <ato@mozilla.com> <andreastt@opera.com>
Andreas Tolfsen <ato@mozilla.com> Andreas Tolf Tolfsen
Jim Evans <james.h.evans.jr@gmail.com> jimevans
Paul Barton <iwebdevelop@gmail.com> paul barton
Zac Campbell <zcampbell@mozilla.com> Zac