@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

* { margin: 0; padding: 0; }

html {
 font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 font-size: 14px;
 font-weight: 400;
}

body { color: rgb(68,68,68) }

header {
 min-height: 100px;
 background-color: rgb(0,106,20);
}

article { width: 66%; margin: 0 2.6em; }

h1, h2, h3 {
 text-transform: uppercase;
 color: rgb(0,106,20);
}
